{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main_app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/generic_main_content.css' %}">
    <link rel="stylesheet" href="{% static 'category/css/category.css' %}">
</head>

<body class="body_container">
    <header>
        {% include 'main_app/top_advertising_bar.html' %}
        {% include 'main_app/navigation_menu_bar.html' %}
    </header>
    <main class="main_content">
        {% block main %}
        {% endblock %}
    </main>
</body>

</html>