{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'user_personal_area/css/user_sales_area.css' %}"></link>
</head>
<body>
<div class="main_container">
    <header class='top_header'></header>
    <section class="add_items">
        <a href="add_item"><button><div class="button_nested_container"><strong>Add Item </strong>
            <img src="{% static 'user_personal_area/img/plus.png' %}"></div></button></a>
    </section>
    <nav class="middle_nav"> 
        {% for item in products %}
        <div class="sub_nav_div" >
            <header>
                {{item.title}}
            </header>
            <div class="sub_img_div">
                <div class="confirm_del_item display_none">
                    <p></p>
                    <div id="confirm_del_item-{{item.id}}" class="conf_del_st"><button><b>Yes</b></button><button><b>No</b></button></div>
                </div>
                {% if item.img_file %}
                <a href="{% url 'product' item.slug %}"><img id="img-d-i_{{item.id}}" src="{{item.img_file.url}}" alt="img not found"></a>
                {% endif %}
            </div>
            <div class="sub_button_div" data-reference="{{item.id}}">
                
                <div class="make-publish-img">
                    <label for="is_published_{{item.id}}" class="is_published_label">
                        {% if item.is_published %}
                        <input id="is_published_{{item.id}}" class="" type="checkbox" name="{{item.id}}" hidden checked>
                        {%else%}
                        <input id="is_published_{{item.id}}" class="" type="checkbox" name="{{item.id}}" hidden>
                        {% endif %}
                        <img class='checked_view img_class' src="{% static 'user_personal_area/img/view.png' %}" title="Published">
                        <img class='unchecked_view img_class' src="{% static 'user_personal_area/img/unview.png' %}" title="Not Published">
                    </label>
                </div>
                <div>
                    <a href="{% url 'edit_product' item.slug %}">
                        <button class='edit_button' title="edit button">
                            <img class="img_class" src="{% static 'user_personal_area/img/edit.png' %}">
                        </button>
                    </a>
                </div>
                <div>
                    <button class='delete_button' title="delete button">
                        <img class="img_class" src="{% static 'user_personal_area/img/trash.png' %}">
                    </button>
                </div>
            </div>

        </div>
        {% endfor %}
        <form id="send_form_action" enctype="multipart/form-data">
            {% csrf_token %}
        </form>
    </nav>
    <footer class="bottom_footer"></footer>
</div>
</body>
<script src="{% static 'user_personal_area/js/user_sales_area.js' %}" type="text/javascript"></script>
</html>